@import "../variable/variable";
@import "../mixin/font";

.team-page {
.title {
font-size: 32px;
padding-bottom: 8px;
border-bottom: 3px solid $purple;
margin: 15px 0 30px;
}



    .team_wrapper {
      cursor: pointer;
      margin-bottom: 30px;
      z-index: 9;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background: $white;
      box-shadow: 8px 10px 24px rgba(0, 0, 0, 0.1);
      transition: $transition;
      .volunteer_img {
      position: relative;
      // width: 336px;
      height: 306px;
      
      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      }
      .volunteer_icon {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 20px);
      transition: $transition;
      opacity: 0;
      
      ul {
      display: flex;
      justify-content: center;
      li {
      padding-left: 20px;
      list-style: none;
      
      &>a {
      height: 30px;
      width: 30px;
      background: $black;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      color: #fff;
      font-size: 14px;
      display: block;
      transition: $transition;
      }
      }
      
      li:first-child {
      padding-left: 0px;
      }
      }
      }
      
      .volunteer_text {
      padding: 20px 20px;
      text-align: center;
      height: 142px;
      h3 {
      font-size: 26px;
      color: $title;
      }
      
      p:last-child {
      margin-bottom: 0;
      color: $black;
      font-size: 16px;
      }
      }
      &:hover {
      box-shadow: rgb(0 0 0 / 14%) 8px 20px 22px;
      
      .volunteer_icon {
      opacity: 1;
      transform: translate(-50%, 0px);
      }
      }
      }


.organogram a{
  width: max-content;
  background-color: $theme;
  color: $black;
  &:hover{
    background-color: $purple;
    color: $white;
  }
}


}

// .team-page > a{
//   color: $title !important;
//    width: 100% !important;  
// }